.cloud{
    margin-top: 2rem;
    height: 50vh;
    text-align: center;

    &-title{
        font-size: 0.75rem;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    &-subtitle{
        font-size: 2.5rem;
        margin-top: 2px;
        margin-bottom: 1rem;
    }

    &-hr{
        margin-top: 2px;
        margin-bottom: .25rem;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border-top: 0.5px solid $accent-color;
    }

  
}

.bank{
    font-size: 2.5rem;
    color: green;
}
