$primary-color: rgb(82, 82, 82);
$accent-color: rgb(17, 129, 37);

@function set-text-color($color){
    @if (lightness($color) > 40%) {
        @return $primary-color;
    } @else{
        @return #fff;
    }
}

@mixin trasition-ease{
    transition: all 0.5s ease-in-out;
}

$small: 768px;
$medium: 1024px;
